---
const { day, breakfast, lunch, dinner } = Astro.props;
---

<tr class="border-b border-gray-200 dark:border-gray-700">
    <td class="px-4 py-3 font-medium"> {day} </td>
    <td class="px-4 py-3">{breakfast}</td>
    <td class="px-4 py-3">{lunch}</td>
    <td class="px-4 py-3">{dinner}</td>
</tr>
